<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Расположение товаров</title>
	
	<!-- Стили -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	
	<!-- React -->
	<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
	
	<!-- ShopItemClass -->
	<script type="text/babel">
		const { useState } = React;

		function Store(props) {

			let type
			const initState = "view_list"
			const [state, setData] = useState(initState);

			const handleSwitch = (e) => {
				setData(() => {
					switch(state) {
						case 'view_list':
							return 'view_module';
						default:
							return 'view_list';
					}
				})
			}

			if(state == "view_list"){
				type = <CardsView icon={state} cards={props.products} />
			}
			else if(state == "view_module"){
				type = <ListView icon={state} cards={props.products} />
			}
			
			return (
				<>
					<div className="contanier-icon">
						<IconSwitch icon={state} handleSwitch={handleSwitch}/>
					</div>
					{type}
				</>
			);		
		}

		//Переключалка
		function IconSwitch(props) {
			
			return (
				<span className="material-icons" onClick={props.handleSwitch}>{props.icon}</span>
			);		
		}

		/**
		 * Карточки
		*/
		//Список
		function CardsView(props) {

			return (
				props.cards.map((Item, index) =>
					<ShopCard key={index} card={Item} />
				)
			);		
		}

		//Товар
		function ShopCard(props) {

			return (
				<div className="ShopCard">
					<h1>{props.card.name}</h1>
					<p>{props.card.color}</p>
					<img src={props.card.img} />
					<div className="flex">
						<div>{props.card.price}</div>
						<div><button>ADD TO CART</button></div>
					</div>
				</div>
			);		
		}

		/**
		 * Таблица
		*/
		//Список
		function ListView(props) {

			return (
				props.cards.map((Item, index) =>
					<ShopItem key={index} card={Item} />
				)
			);		
		}

		//Товар
		function ShopItem(props) {

			return (
				<div className="ShopItem">
					<div><img src={props.card.img} /></div>
					<div><h1>{props.card.name}</h1></div>
					<div><p>{props.card.color}</p></div>
					<div>{props.card.price}</div>
					<div><button>ADD TO CART</button></div>
				</div>
			);		
		}

	</script>
</head>
<body>
	<script type="text/babel">
		const products = [
			{
			name: "Nike Metcon 2",
			price: "130",
			color: "red",
			img: "https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/1.jpg"
			}, {
			name: "Nike Metcon 2",
			price: "130",
			color: "green",
			img: "https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/2.jpg"
			}, {
			name: "Nike Metcon 2",
			price: "130",
			color: "blue",
			img: "https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/3.jpg"
			}, {
			name: "Nike Metcon 2",
			price: "130",
			color: "black",
			img: "https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/4.jpg"
			}, {
			name: "Nike free run",
			price: "170",
			color: "black",
			img: "https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/7.jpg"
			}, {
			name: "Nike Metcon 3",
			price: "150",
			color: "green",
			img: "https://raw.githubusercontent.com/netology-code/ra16-homeworks/master/events-state/layouts/img/5.jpg"
			}
		];

  		ReactDOM.render(<Store products={products} />, 
			document.getElementById("root")
		);
  	</script>
	
	<div id="root"></div>
</body>
</html>

