#root {
  text-align: center;
}

/*Иконка*/
.contanier-icon {
  text-align: end;
  cursor: pointer;
}

/*Карточки*/
.ShopCard {
  display: inline-block;
  margin: 5px;
  width: 150px;
}

.ShopCard img{
  width: 150px;
  height: 150px;
}

.ShopCard .flex {
  display: flex;
  justify-content: space-between;
}

/*Таблица*/
.ShopItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShopItem img{
  width: 100px;
  height: 100px;
}

.ShopItem div {
  margin: 5px;
}